body {
background-color:  darkgrey;
font-family: Arial, Helvetica, sans-serif;
margin: 5% 15%;
}

h1 {
color: black;
font-family: Comic-sans;
font-size: 30px;
text-align: center;
}

h2 {
color: black;
font-family: Comic-sans;
font-size: 17px;
text-align: center;

}
h3 {color: white;}
p {font-size: 12px;
padding-top: 1px;
}

h5 {font-size 20px}
.headers {
text-align: center;
text-transform: uppercase;

}

.ch
{text-align: center;
padding-bottom: 20px}

.bulletpoints {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px
}

.jobrole {
padding-bottom:1px;
border-top: 3px solid grey; 
--border-bottom: 3px solid grey;
--padding-left: 10px;
font-family: Arial, Helvetica sans-serif;
font-size: 17px
text-align: center; 
}
font-size: 14px
}
